# Puerto del servidor
PORT=3000

# Clave secreta para sesiones (cambiar en producción)
SESSION_SECRET=archivox-secret-key-2024-seguro

# Entorno
NODE_ENV=production

# Base de datos PostgreSQL (Render)
DATABASE_URL=postgresql://archivox:JCamkDhipyZlUXmnDuZttLCc6H0WHCZu@dpg-d8j4q0tdt1ts73b81jcg-a.virginia-postgres.render.com/archivox
